<div class="qld__code-preview-body qld__body qld__body--light">
    <ul class="qld__link-list qld__link-list--inline">
{{#each buttons}}
    <li>
        <!--  {{ component.data.value}} Button -->
    {{> (lookup component "type") this }}
    </li>
{{/each}}
    </ul>
</div>
